@charset "UTF-8";

@font-face {
  font-family: BN Chester;
  font-display: swap;
  src: url("../fonts/BN Chester Regular.woff2") format("woff2"), url("../fonts/BN Chester Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #161616;
  line-height: 1;
  font-family: "Gilroy";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[data-showmore-button] span:last-child {
  display: none;
}

._showmore-active [data-showmore-button] span {
  display: none;
}

._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title-h1 {
  font-family: BN Chester;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #3D3737;
}

.title {
  font-family: BN Chester;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #161616;
}

.title span {
  color: #d3A265;
}

.text {
  font-weight: 400;
  line-height: 170%;
}

.button {
  padding: 0.625rem 2rem;
  border: 2px solid #D3A265;
  border-radius: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: block;
  -webkit-transition: background-color 0.4s ease-in-out 0s;
  -o-transition: background-color 0.4s ease-in-out 0s;
  transition: background-color 0.4s ease-in-out 0s;
}

.button-more {
  position: relative;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.0625rem;
}

.button-more::after {
  content: "";
  position: absolute;
  bottom: -0.1875rem;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: #d3A265;
}

.title-item {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.item-text {
  font-weight: 400;
  line-height: 170%;
  color: #8D8D8D;
}

.icon-menu {
  display: block;
  position: relative;
  width: 2.1875rem;
  height: 1.5rem;
  z-index: 5;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  top: calc(50% - 0.0625rem);
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #212121;
}

.icon-menu::before {
  content: "";
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  top: 0;
  right: 0;
  position: absolute;
  width: 50%;
  height: 0.125rem;
  background-color: #212121;
}

.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  -o-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 50%;
  height: 0.125rem;
  background-color: #212121;
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before,
.menu-open .icon-menu::after {
  width: 100%;
  height: 0.125rem;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.125rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__body {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #dcd2c8;
  font-size: 2.75rem;
  text-align: center;
  color: #161616;
  font-weight: 500;
  left: -100%;
  top: 0;
  padding: 8.125rem 0.9375rem 1.875rem 0.9375rem;
  overflow: auto;
  z-index: 2;
  -webkit-transition: left 0.4s ease-in-out 0s;
  -o-transition: left 0.4s ease-in-out 0s;
  transition: left 0.4s ease-in-out 0s;
}

.menu__body::before {
  content: "";
  width: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #dcd2c8;
  z-index: 2;
  -webkit-transition: left 0.4s ease-in-out 0s;
  -o-transition: left 0.4s ease-in-out 0s;
  transition: left 0.4s ease-in-out 0s;
}

.menu-open .menu__body {
  left: 0;
}

.menu-open .menu__body::before {
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.1875rem;
}

.menu__link {
  display: block;
  text-align: center;
}

.header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header._header-scroll {
  position: fixed;
  top: -100%;
  background-color: #fff;
}

.header._header-show {
  -webkit-transition: top 1s ease 0s;
  -o-transition: top 1s ease 0s;
  transition: top 1s ease 0s;
  top: 0;
  -webkit-box-shadow: 0px 4px 6px -5px rgb(66, 68, 90);
          box-shadow: 0px 4px 6px -5px rgb(66, 68, 90);
}

.header._header-show .header__container {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: padding 0.2s ease 0s;
  -o-transition: padding 0.2s ease 0s;
  transition: padding 0.2s ease 0s;
}

.header__logo {
  z-index: 3;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.625rem;
  font-weight: 500;
  line-height: 1.1875rem;
  color: #352c2c;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__nav-item {
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__nav-item::after {
  content: "";
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 0.125rem;
  background-color: #d3A265;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.header__lang-numb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  line-height: 1.1875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.header__num-icon-link {
  display: none;
}

.header__phone-number {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__phone-number::after {
  content: "";
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 0.125rem;
  background-color: #d3A265;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.header__lang {
  position: relative;
  display: inline-block;
  width: 2.6875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-transform: uppercase;
}

.header__lang::after {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  right: 0;
  width: 0.8125rem;
  height: 0.3125rem;
  background: url(../img/icons/lang-arrow.svg) no-repeat;
  -webkit-transition: -webkit-transform 0.3s ease-in-out 0s;
  transition: -webkit-transform 0.3s ease-in-out 0s;
  -o-transition: transform 0.3s ease-in-out 0s;
  transition: transform 0.3s ease-in-out 0s;
  transition: transform 0.3s ease-in-out 0s, -webkit-transform 0.3s ease-in-out 0s;
}

.hero {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.hero__part-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47%;
          flex: 0 1 47%;
}

.hero__title:not(:last-child) {
  margin-bottom: 2rem;
}

.hero__text {
  display: inline-block;
  width: 100%;
}

.hero__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.about {
  background-color: #f4f4f4;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.about__more-button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.services__title {
  text-align: center;
}

.services__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 1.875rem;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__image-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__item-title:not(:first-child) {
  margin-top: 1.25rem;
}

.services__item-title:not(:last-child) {
  margin-bottom: 1.0625rem;
}

.services__item-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.services__button {
  margin: 0 auto;
}

@media (min-width: 659.98px) {
  .icon-menu {
    display: none;
  }

  .menu {
    display: none;
  }

  .menu__body {
    display: none;
  }
}

@media (min-width: 75em) {
  .title-h1 {
    font-size: 4.125rem;
  }

  .title-h1 {
    line-height: 4rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .title {
    line-height: 2.5625rem;
  }

  .button {
    line-height: 1.5rem;
  }

  .menu__body::before {
    height: 6.5625rem;
  }

  .header__container {
    -webkit-column-gap: 4.25rem;
       -moz-column-gap: 4.25rem;
            column-gap: 4.25rem;
  }

  .header__container {
    padding-top: 2.5rem;
  }

  .header__container {
    padding-bottom: 2.5rem;
  }

  .header__logo {
    width: 8.1875rem;
  }

  .header__nav {
    -webkit-column-gap: 4.25rem;
       -moz-column-gap: 4.25rem;
            column-gap: 4.25rem;
  }

  .header__nav-list {
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
  }

  .header__lang-numb {
    gap: 2.8125rem;
  }

  .hero__text:not(:last-child) {
    margin-bottom: 3.375rem;
  }

  .about__container {
    padding-top: 4.4375rem;
  }

  .about__container {
    padding-bottom: 4.4375rem;
  }

  .about__text-wrap {
    padding-right: 6.25rem;
  }

  .about__text-wrap > p {
    margin-bottom: 2.1875rem;
  }

  .services__container {
    padding-top: 5rem;
  }

  .services__container {
    padding-bottom: 5rem;
  }

  .services__title:not(:last-child) {
    margin-bottom: 5.25rem;
  }

  .services__button {
    margin-top: 5.25rem;
  }

  .services__button {
    margin-bottom: 5rem;
  }
}

@media (max-width: 659.98px) {
  .header__nav-list {
    display: none;
  }

  .header__lang-numb {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

@media (max-width: 20em) {
  .title-h1 {
    font-size: 3rem;
  }

  .title-h1 {
    line-height: 3.0625rem;
  }

  .title {
    font-size: 2rem;
  }

  .title {
    line-height: 2.0625rem;
  }

  .button {
    line-height: 1.25rem;
  }

  .menu__body::before {
    height: 3.75rem;
  }

  .header__container {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .header__container {
    padding-top: 0.9375rem;
  }

  .header__container {
    padding-bottom: 0.9375rem;
  }

  .header__logo {
    width: 7.1875rem;
  }

  .header__nav {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .header__nav-list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .header__lang-numb {
    gap: 1.5625rem;
  }

  .hero__text:not(:last-child) {
    margin-bottom: 2.5625rem;
  }

  .about__container {
    padding-top: 2.5rem;
  }

  .about__container {
    padding-bottom: 2.5rem;
  }

  .about__text-wrap {
    padding-right: 0.0000000625rem;
  }

  .about__text-wrap > p {
    margin-bottom: 1.75rem;
  }

  .services__container {
    padding-top: 2.5rem;
  }

  .services__container {
    padding-bottom: 2.5rem;
  }

  .services__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .services__button {
    margin-top: 1.25rem;
  }

  .services__button {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 60.49875em) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: auto;
  }

  .hero__part-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .hero__image {
    position: static;
    width: 100%;
  }
}

@media (max-width: 60.49875em) and (max-width: 20em) {
  .hero {
    padding-top: 5.625rem;
  }

  .hero {
    gap: 2rem;
  }

  .hero__image {
    height: 12.5rem;
  }
}

@media (max-width: 58.74875em) {
  .services__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 58.74875em) and (max-width: 20em) {
  .services__item {
    padding-left: 2.3125rem;
  }

  .services__item {
    padding-right: 2.3125rem;
  }
}

@media (max-width: 41.74875em) {
  .services__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }

  .services__item:not(:last-child) {
    border-bottom: 0.0625rem solid #dcd1bb;
  }
}

@media (max-width: 41.74875em) and (max-width: 20em) {
  .services__item {
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 38.68625em) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__title br {
    display: none;
  }

  .about__text-wrap {
    padding: 0;
  }
}

@media (max-width: 38.68625em) and (max-width: 20em) {
  .about__container {
    gap: 1.75rem;
  }
}

@media (max-width: 26.93625em) {
  .header__num-icon-link {
    display: inline-block;
  }

  .header__phone-number {
    display: none;
  }
}

@media (max-width: 26.56125em) {
  .hero__button {
    width: 100%;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 3rem , 2.5909090909rem  +  2.0454545455vw , 4.125rem )) {
    .title-h1 {
      font-size: clamp( 3rem , 2.5909090909rem  +  2.0454545455vw , 4.125rem );
    }
}

@supports not (font-size: clamp( 3rem , 2.5909090909rem  +  2.0454545455vw , 4.125rem )) {
    .title-h1 {
      font-size: calc(3rem + 1.125 * (100vw - 20rem) / 55);
    }
}

@supports (line-height: clamp( 3.0625rem , 2.7215909091rem  +  1.7045454545vw , 4rem )) {
    .title-h1 {
      line-height: clamp( 3.0625rem , 2.7215909091rem  +  1.7045454545vw , 4rem );
    }
}

@supports not (line-height: clamp( 3.0625rem , 2.7215909091rem  +  1.7045454545vw , 4rem )) {
    .title-h1 {
      line-height: calc(3.0625rem + 0.9375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 2rem , 1.8181818182rem  +  0.9090909091vw , 2.5rem )) {
    .title {
      font-size: clamp( 2rem , 1.8181818182rem  +  0.9090909091vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.8181818182rem  +  0.9090909091vw , 2.5rem )) {
    .title {
      font-size: calc(2rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports (line-height: clamp( 2.0625rem , 1.8806818182rem  +  0.9090909091vw , 2.5625rem )) {
    .title {
      line-height: clamp( 2.0625rem , 1.8806818182rem  +  0.9090909091vw , 2.5625rem );
    }
}

@supports not (line-height: clamp( 2.0625rem , 1.8806818182rem  +  0.9090909091vw , 2.5625rem )) {
    .title {
      line-height: calc(2.0625rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports (line-height: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem )) {
    .button {
      line-height: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem );
    }
}

@supports not (line-height: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem )) {
    .button {
      line-height: calc(1.25rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 3.75rem , 2.7272727273rem  +  5.1136363636vw , 6.5625rem )) {
    .menu__body::before {
      height: clamp( 3.75rem , 2.7272727273rem  +  5.1136363636vw , 6.5625rem );
    }
}

@supports not (height: clamp( 3.75rem , 2.7272727273rem  +  5.1136363636vw , 6.5625rem )) {
    .menu__body::before {
      height: calc(3.75rem + 2.8125 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.1590909091rem  +  5.4545454545vw , 4.25rem )) or (column-gap: clamp( 1.25rem , 0.1590909091rem  +  5.4545454545vw , 4.25rem ))) {
    .header__container {
      -webkit-column-gap: clamp( 1.25rem , 0.1590909091rem  +  5.4545454545vw , 4.25rem );
         -moz-column-gap: clamp( 1.25rem , 0.1590909091rem  +  5.4545454545vw , 4.25rem );
              column-gap: clamp( 1.25rem , 0.1590909091rem  +  5.4545454545vw , 4.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.1590909091rem  +  5.4545454545vw , 4.25rem )) or (column-gap: clamp( 1.25rem , 0.1590909091rem  +  5.4545454545vw , 4.25rem ))) {
    .header__container {
      -webkit-column-gap: calc(1.25rem + 3 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(1.25rem + 3 * (100vw - 20rem) / 55);
              column-gap: calc(1.25rem + 3 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem )) {
    .header__container {
      padding-top: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem )) {
    .header__container {
      padding-top: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem )) {
    .header__container {
      padding-bottom: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem )) {
    .header__container {
      padding-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 7.1875rem , 6.8238636364rem  +  1.8181818182vw , 8.1875rem )) {
    .header__logo {
      width: clamp( 7.1875rem , 6.8238636364rem  +  1.8181818182vw , 8.1875rem );
    }
}

@supports not (width: clamp( 7.1875rem , 6.8238636364rem  +  1.8181818182vw , 8.1875rem )) {
    .header__logo {
      width: calc(7.1875rem + 1 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 1.5625rem , 0.5852272727rem  +  4.8863636364vw , 4.25rem )) or (column-gap: clamp( 1.5625rem , 0.5852272727rem  +  4.8863636364vw , 4.25rem ))) {
    .header__nav {
      -webkit-column-gap: clamp( 1.5625rem , 0.5852272727rem  +  4.8863636364vw , 4.25rem );
         -moz-column-gap: clamp( 1.5625rem , 0.5852272727rem  +  4.8863636364vw , 4.25rem );
              column-gap: clamp( 1.5625rem , 0.5852272727rem  +  4.8863636364vw , 4.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , 0.5852272727rem  +  4.8863636364vw , 4.25rem )) or (column-gap: clamp( 1.5625rem , 0.5852272727rem  +  4.8863636364vw , 4.25rem ))) {
    .header__nav {
      -webkit-column-gap: calc(1.5625rem + 2.6875 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(1.5625rem + 2.6875 * (100vw - 20rem) / 55);
              column-gap: calc(1.5625rem + 2.6875 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 1.5625rem , 1.0397727273rem  +  2.6136363636vw , 3rem )) or (column-gap: clamp( 1.5625rem , 1.0397727273rem  +  2.6136363636vw , 3rem ))) {
    .header__nav-list {
      -webkit-column-gap: clamp( 1.5625rem , 1.0397727273rem  +  2.6136363636vw , 3rem );
         -moz-column-gap: clamp( 1.5625rem , 1.0397727273rem  +  2.6136363636vw , 3rem );
              column-gap: clamp( 1.5625rem , 1.0397727273rem  +  2.6136363636vw , 3rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , 1.0397727273rem  +  2.6136363636vw , 3rem )) or (column-gap: clamp( 1.5625rem , 1.0397727273rem  +  2.6136363636vw , 3rem ))) {
    .header__nav-list {
      -webkit-column-gap: calc(1.5625rem + 1.4375 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(1.5625rem + 1.4375 * (100vw - 20rem) / 55);
              column-gap: calc(1.5625rem + 1.4375 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 1.5625rem , 1.1079545455rem  +  2.2727272727vw , 2.8125rem )) {
    .header__lang-numb {
      gap: clamp( 1.5625rem , 1.1079545455rem  +  2.2727272727vw , 2.8125rem );
    }
}

@supports not (gap: clamp( 1.5625rem , 1.1079545455rem  +  2.2727272727vw , 2.8125rem )) {
    .header__lang-numb {
      gap: calc(1.5625rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 2.5625rem , 2.2670454545rem  +  1.4772727273vw , 3.375rem )) {
    .hero__text:not(:last-child) {
      margin-bottom: clamp( 2.5625rem , 2.2670454545rem  +  1.4772727273vw , 3.375rem );
    }
}

@supports not (margin-bottom: clamp( 2.5625rem , 2.2670454545rem  +  1.4772727273vw , 3.375rem )) {
    .hero__text:not(:last-child) {
      margin-bottom: calc(2.5625rem + 0.8125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.7954545455rem  +  3.5227272727vw , 4.4375rem )) {
    .about__container {
      padding-top: clamp( 2.5rem , 1.7954545455rem  +  3.5227272727vw , 4.4375rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.7954545455rem  +  3.5227272727vw , 4.4375rem )) {
    .about__container {
      padding-top: calc(2.5rem + 1.9375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.7954545455rem  +  3.5227272727vw , 4.4375rem )) {
    .about__container {
      padding-bottom: clamp( 2.5rem , 1.7954545455rem  +  3.5227272727vw , 4.4375rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.7954545455rem  +  3.5227272727vw , 4.4375rem )) {
    .about__container {
      padding-bottom: calc(2.5rem + 1.9375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 0.0000000625rem , -2.2727271875rem  +  11.36363625vw , 6.25rem )) {
    .about__text-wrap {
      padding-right: clamp( 0.0000000625rem , -2.2727271875rem  +  11.36363625vw , 6.25rem );
    }
}

@supports not (padding-right: clamp( 0.0000000625rem , -2.2727271875rem  +  11.36363625vw , 6.25rem )) {
    .about__text-wrap {
      padding-right: calc(0.0000000625rem + 6.2499999375 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.75rem , 1.5909090909rem  +  0.7954545455vw , 2.1875rem )) {
    .about__text-wrap > p {
      margin-bottom: clamp( 1.75rem , 1.5909090909rem  +  0.7954545455vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 1.75rem , 1.5909090909rem  +  0.7954545455vw , 2.1875rem )) {
    .about__text-wrap > p {
      margin-bottom: calc(1.75rem + 0.4375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .services__container {
      padding-top: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .services__container {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .services__container {
      padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .services__container {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.2045454545rem  +  7.2727272727vw , 5.25rem )) {
    .services__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -0.2045454545rem  +  7.2727272727vw , 5.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.2045454545rem  +  7.2727272727vw , 5.25rem )) {
    .services__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 4 * (100vw - 20rem) / 55);
    }
}

@supports (margin-top: clamp( 1.25rem , -0.2045454545rem  +  7.2727272727vw , 5.25rem )) {
    .services__button {
      margin-top: clamp( 1.25rem , -0.2045454545rem  +  7.2727272727vw , 5.25rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , -0.2045454545rem  +  7.2727272727vw , 5.25rem )) {
    .services__button {
      margin-top: calc(1.25rem + 4 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .services__button {
      margin-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .services__button {
      margin-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 55);
    }
}
}

@media (max-width: 60.49875em) and (min-width: 75em) {
  .hero {
    padding-top: 9.375rem;
  }

  .hero {
    gap: 3.25rem;
  }

  .hero__image {
    height: 46.875rem;
  }
}

@media (max-width: 60.49875em) and (min-width: 20em) and (max-width: 75em) {
@supports (padding-top: clamp( 5.625rem , 4.2613636364rem  +  6.8181818182vw , 9.375rem )) {
    .hero {
      padding-top: clamp( 5.625rem , 4.2613636364rem  +  6.8181818182vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 4.2613636364rem  +  6.8181818182vw , 9.375rem )) {
    .hero {
      padding-top: calc(5.625rem + 3.75 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 2rem , 1.5454545455rem  +  2.2727272727vw , 3.25rem )) {
    .hero {
      gap: clamp( 2rem , 1.5454545455rem  +  2.2727272727vw , 3.25rem );
    }
}

@supports not (gap: clamp( 2rem , 1.5454545455rem  +  2.2727272727vw , 3.25rem )) {
    .hero {
      gap: calc(2rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 12.5rem , 0.0000000625rem  +  62.5vw , 46.875rem )) {
    .hero__image {
      height: clamp( 12.5rem , 0.0000000625rem  +  62.5vw , 46.875rem );
    }
}

@supports not (height: clamp( 12.5rem , 0.0000000625rem  +  62.5vw , 46.875rem )) {
    .hero__image {
      height: calc(12.5rem + 34.375 * (100vw - 20rem) / 55);
    }
}
}

@media (max-width: 38.68625em) and (min-width: 75em) {
  .about__container {
    gap: 2.1875rem;
  }
}

@media (max-width: 38.68625em) and (min-width: 20em) and (max-width: 75em) {
@supports (gap: clamp( 1.75rem , 1.5909090909rem  +  0.7954545455vw , 2.1875rem )) {
    .about__container {
      gap: clamp( 1.75rem , 1.5909090909rem  +  0.7954545455vw , 2.1875rem );
    }
}

@supports not (gap: clamp( 1.75rem , 1.5909090909rem  +  0.7954545455vw , 2.1875rem )) {
    .about__container {
      gap: calc(1.75rem + 0.4375 * (100vw - 20rem) / 55);
    }
}
}

@media (max-width: 58.74875em) and (min-width: 75em) {
  .services__item {
    padding-left: 3.75rem;
  }

  .services__item {
    padding-right: 3.75rem;
  }
}

@media (max-width: 58.74875em) and (min-width: 20em) and (max-width: 75em) {
@supports (padding-left: clamp( 2.3125rem , 1.7897727273rem  +  2.6136363636vw , 3.75rem )) {
    .services__item {
      padding-left: clamp( 2.3125rem , 1.7897727273rem  +  2.6136363636vw , 3.75rem );
    }
}

@supports not (padding-left: clamp( 2.3125rem , 1.7897727273rem  +  2.6136363636vw , 3.75rem )) {
    .services__item {
      padding-left: calc(2.3125rem + 1.4375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 2.3125rem , 1.7897727273rem  +  2.6136363636vw , 3.75rem )) {
    .services__item {
      padding-right: clamp( 2.3125rem , 1.7897727273rem  +  2.6136363636vw , 3.75rem );
    }
}

@supports not (padding-right: clamp( 2.3125rem , 1.7897727273rem  +  2.6136363636vw , 3.75rem )) {
    .services__item {
      padding-right: calc(2.3125rem + 1.4375 * (100vw - 20rem) / 55);
    }
}
}

@media (max-width: 41.74875em) and (min-width: 75em) {
  .services__item {
    padding-bottom: 3.75rem;
  }
}

@media (max-width: 41.74875em) and (min-width: 20em) and (max-width: 75em) {
@supports (padding-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .services__item {
      padding-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .services__item {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
    }
}
}

@media (any-hover: hover) {
  .header__nav-item:hover::after,
  .header__phone-number:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
  }

  .button:hover {
    background-color: #d3A265;
  }

  .header__lang:hover::after {
    -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
            transform: scale(1.25);
  }
}

@media (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}